.swiper {
    width: 100%;
    height: auto;
    text-align: center;
    gap: 2rem;


    .swiper-button-prev,
    .swiper-button-next {
        color: $color-green;
    }
}



.swiper-wrapper {
    justify-content: space-between;
    padding-left: .1rem;
    background-repeat: no-repeat;
}

.section {

    &__popular {

        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
        width: 100%;
            

        .maintitle {
            font-size: 18px;
            font-family: Ubuntu-Bold;
            text-align: center;
            text-transform: uppercase;
            padding: 1.5rem;
        }

        .swiper-slide {

            display: flex;
            justify-content: center;
        }

        .card {
            position: none;
            
            display: flex;
            flex-direction: column;
            
            border: .1rem solid $color-grey-border;
            width: 320px;
            background-repeat: no-repeat;
            margin: 0;

            &:hover {
                cursor: pointer;
                box-shadow: 0px 2px 6px $color-shadow;
                z-index: 1;
                transform: translateY(-10px);
                transition: all 0.5s ease 0s;
            }
            
        }

        .card__image {
            display: inline-flex; 
            justify-content: end;
            gap: 1rem; 
            padding-left: 3rem;
            background-repeat: no-repeat;
                    
        }

        .card__img {
            padding-left: 3.5rem;
            width: 250px;
            height: 190px;
            max-width: 100%;
            background-repeat: no-repeat;
        }
        

        .card__icon {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem .8rem 1rem .8rem;

        }

        .cardproduct__icon1 {
            background-image: url('/frontend/img/icons/Vector.svg');
            width: 15px;
            height: 15px;

            &:hover {
                background-image: url('/frontend/img/icons/Vector\ copy.svg');
                cursor: pointer;
            }
        }

        .cardproduct__icon2 {
            background-image: url('/frontend/img/icons/compare.svg');
            width: 15px;
            height: 15px;

            &:hover {
                background-image: url('/frontend/img/icons/compare\ copy.svg');
                cursor: pointer;

            }
        }

        .card__text {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            text-align: center;
            gap: 0.5rem;
            padding: .8rem;
        }

        .card-text1,
        .line1 {
            font-family: Ubuntu-Bold;
        }

        .card-text2,
        .line2 {
            color: $color-grey-button;
        }

        .price-block {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 80px;
            gap: 0.2rem;
            padding: .4rem;
            border: .1rem solid $color-grey-border;

            &:hover {
                cursor: pointer;
                background: $color-grey-bg;
                transition: .5s all;
            }
        }

        .card__price {
            display: inline-flex;
        }

        .card__more {
            margin: 1rem;
            display: flex;
            justify-content: space-evenly;
        }

    }

    &__katalog {

        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .maintitle {
            font-size: 18px;
            font-family: Ubuntu-Bold;
            text-align: center;
            text-transform: uppercase;
            padding: 1.5rem;
        }

        .texting {
            display: flex;
            margin: 0 auto;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            max-width: 35rem;
            

            .descriptions {
                color: $color-grey-button;
                font-size: 14px;
                line-height: 1.5rem;
            }

            .b_descriptions {
                color: $color-black;
                font-family: Ubuntu-Bold;
            }

            .katalog_buttons {
                display: flex;
                justify-content: space-around;
                padding-top: 1rem;

                position: relative;
            }

            .katalog-text {
                color: $color-white;
                font-size: 14px;
                font-family: Ubuntu-Bold;
                text-decoration: none;
            }

            .katalog__input {
                border-radius: 100px;
                background: $color-grey-bg;
                border: .4rem solid $color-white;
                box-shadow: 0px 2px 6px $color-shadow;
                padding: .4rem .4rem .4rem 1rem;
                color: $color-grey-button;
                font-size: 14px;
                width: 15rem;
            }
        }
    }

    &__blogs {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem 2rem 1rem;
        
        .blog1,
        .blog2,
        .blog3,
        .blog4,
        .blog5 {
            display: flex;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &:hover {
                cursor: pointer;
                box-shadow: 0px 4px 8px $color-shadow;
                z-index: 1;
                transform: translateY(-10px);
                transition: all 0.5s ease 0s;
            }
            
        }

        .blog1 {
            background-image: url('/frontend/img/photo (1).svg');
            width: 309px;
            height: 309px;
        }

        .blog2 {
            background-image: url('/frontend/img/photo (2).svg');
            width: 309px;
            height: 309px;
        }

        .blog3 {
            background-image: url('/frontend/img/photo (3).svg');
            width: 309px;
            height: 309px;
        }

        .blog4 {
            background-image: url('/frontend/img/photo (4).svg');
            width: 655px;
            height: 309px;
        }

        .blog5 {
            background-image: url('/frontend/img/photo (5).svg');
            width: 309px;
            height: 309px;
        }


        .blogs-line {
            display: inline-flex;
            gap: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .blogs-text {
            display: flex-start;
            flex-direction: column; 
            padding-top: 14rem;
            padding-left: 1.5rem;        
                                                

            .blog-text {
                display: flex;
                flex-direction: column; 
                
                background-color: $color-white;
                opacity: 0.9;
                padding: .8rem;
                font-family: Ubuntu-Bold;
                font-size: 16px;
                box-shadow: 0px 2px 6px $color-shadow;
                max-width: max-content;
                
                z-index: 50;

                &:hover {
                    background: linear-gradient(270deg, $color-shadow 0%, $color-grey-button 100%);
                    opacity: 0.99;
                    color: $color-white;
                    box-shadow: 0px 2px 6px $color-shadow;
                    cursor: pointer;
                    transition: .5s all;
                }
            }        
        }
    }

    &__sellers {
        background-color: $color-grey-bg;
        padding: 2rem;

        .all-badges {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;


            .maintitle {
                font-size: 18px;
                font-family: Ubuntu-Bold;
                text-align: center;
                text-transform: uppercase;
                padding: 1.5rem;
            }

            .texting {
                display: flex;
                margin: 0 auto;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                max-width: 30rem;

                padding-bottom: 2rem;

                .descriptions {
                    color: $color-grey-button;
                    font-size: 14px;
                    line-height: 1.5rem;
                }
            }

            .badges {
                display: inline-flex;
                gap: 2rem;
                padding-bottom: 2rem;

            }

            .badges-line {
                display: flex;
                gap: 2rem;
            }

            .badge {
                display: flex;
                flex-direction: column;

                border: .1rem solid $color-white;

                background-color: $color-white;
                box-shadow: 0px 2px 6px $color-shadow;

                gap: .5rem;
                padding: 1.2rem;

                width: 230px;

                .badge-text {
                    display: flex;
                    float: left;
                    font-size: 14px;
                    padding-right: 2rem;

                }

                .badge-image {
                    display: flex;
                    justify-content: end;
                    float: right;

                    .badge-img {
                        width: 32px;
                        height: 32px;
                        display: flex;
                        float: right;
                    }
                }
            }
        }
    }

    &__news {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 1rem 1.5rem 1rem;

        .maintitle {
            font-size: 18px;
            font-family: Ubuntu-Bold;
            text-align: center;
            text-transform: uppercase;
            padding: 1.5rem;
        }

        .news-blogs {
            display: flex;
            justify-content: space-between;
            gap: 2rem;
            padding-bottom: 2rem;

            .news-blog {
                display: flex;
                flex-direction: column;
                gap: none;

                .news-image {
                    max-width: 320px;
                    height: 230px;

                    .news-img {
                        max-width: 320px;
                        height: 230px;
                    }
                }

                .news-text {
                    display: flex;
                    flex-direction: column;
                    
                    border: .1rem solid $color-grey-border;
                    padding: .8rem;
                    gap: .5rem;
                    max-width: 320px;

                    .news-date,
                    .news-description {
                        font-size: 14px;
                        color: $color-grey-button;
                        line-height: 1.3rem;
                    }

                    .news-title {
                        font-size: 16px;
                        font-family: Ubuntu-Bold;
                    }
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 2px 6px $color-shadow;
                    background-color: $color-grey-bg;
                    transition: all .5s;

                    z-index: 1;
                    transform: translateY(-10px);
                    transition: all 0.5s ease 0s;
                }
            }

        }

    }

    &__map {
        
        background-image: url('/frontend/img/for\ map.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .map-partners {
            display: flex;
            flex-direction: column;
            padding: 2rem 1rem 4rem 1rem;
        }

        .maintitle {
            font-size: 18px;
            font-family: Ubuntu-Bold;
            text-align: center;
            text-transform: uppercase;
            padding: 1.5rem;
        }

        .partners {
            display: inline-flex;
            justify-content: center;
            gap: .8rem;

            .partner {
                display: flex;
                flex-direction: column;
                gap: .8rem;

                background-color: $color-white;
                border: .1rem solid $color-white;
                padding: 1rem;
                width: 15rem;
            }

            .partner-line {
                display: inline-flex;
                gap: 1rem;
            }

            .partner-title {
                display: inline-flex;
                gap: 1rem;
            }

            .partners-img {
                width: 20px;
                height: 20px;
            }

            .partners-name {
                font-size: 16px;
                font-family: Ubuntu-Bold;
            }

            .partner-adress {
                font-size: 14px;
                color: $color-grey-button;
            }

            .partner-site {
                color: $color-green;
            }
        }
    }
}

@media (max-width: 1100px) {

    .partner-line {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 930px) {

    .price-block {
        font-size: 14px;
    }

    .card__more {
        gap: 1rem;
    }
}

@media (max-width: 930px) {

    .news-blogs {
        display: flex;
        flex-direction: column;
    }

    .badges {
        display: flex;
        flex-direction: column;
    }


    .blogs-line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog4 {
        max-width: 320px;
        max-height: 320px;
    }

    .partner-line {
        display: flex;
        flex-direction: column;
    }

    .price-block {
        font-size: 12px;
    }

}


@media (max-width: 640px) {

    .news-blogs {
        display: flex;
        flex-direction: column;
    }

    .badges {
        display: flex;
        flex-direction: column;
    }

    .blogs-line {
        display: flex;
        flex-direction: column;
    }

    .blogs-line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog4 {
        max-width: 320px;
        max-height: 320px;
    }

    .partner-line {
        display: flex;
        flex-direction: column;
    }

    .price-block {
        font-size: 12px;
    }

}

@media (max-width: 500px) {
    
    .texting {
        max-width: 15rem;
    }

    .katalog_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .blogs-line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog4 {
        max-width: 320px;
        max-height: 320px;
    }

    .badges-line {
        display: flex;
        flex-direction: column;
    }

    .partners {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .partner-line {
        display: flex;
        flex-direction: column;
    }


}