
.swiper {
        width: 100%;
        height: auto;
        gap: 2rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $color-green;
    }

.section {
    display: flex;
    flex-direction: column;

    .section__navigation {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;
        padding: 1rem 1rem 0rem 1rem;

        .maintitle {
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
        }

        .gradient {
            background: linear-gradient(270deg, $color-green-gradient1 0%, $color-green-gradient2 99.06%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .navigation-chips {
            display: inline-flex;
            list-style-type: none;
            gap: .5rem;
            font-size: 14px;
            color: $color-grey-button;

            .nav-chip {
                text-decoration: none;
                color: $color-black;

                &:hover {
                    color: $color-green;
                }
            }

            .nav-chip-res {
                font-weight: bold;
            }

        }

        .navigation-main {
            display: inline-flex;
            justify-content: space-between;
        }

        .mainsocial-icons {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background: none;
            gap: 0.5rem;
            
        }

        .mainsocial-icons a.a{
			z-index: 150;
		}

        .mainsocial-icon {
            width: 27px;
            height: 27px;
        }

        .mainsocial-icons a{
			display: inline-block;
			text-align: center;
		}

		.mainsocial-icons a img{
			line-height: inherit;
		}

        .mainsocial-icons a.a1{
			transform: translateX(240px);
			transition: all ease-in-out 200ms;
			opacity: 0;
		}
		.mainsocial-icons a.a2{
			transform: translateX(190px);
			transition: all ease-in-out 300ms;
			opacity: 0;
		}
		.mainsocial-icons a.a3{
			transform: translateX(140px);
			transition: all ease-in-out 400ms;
			opacity: 0;
		}
		.mainsocial-icons a.a4{
			transform: translateX(95px);
			transition: all ease-in-out 500ms;
			opacity: 0;
		}
		.mainsocial-icons a.a5{
			transform: translateX(45px);
			transition: all ease-in-out 600ms;
			opacity: 0;
		}

        .mainsocial-icons:hover a.a1{
			transform: translateX(0);
			transition: all ease-in-out 600ms;
			opacity: 1;
            
		}
		.mainsocial-icons:hover a.a2{
			transform: translateX(0);
			transition: all ease-in-out 500ms;
			opacity: 1;
		}
		.mainsocial-icons:hover a.a3{
			transform: translateX(0);
			transition: all ease-in-out 400ms;
			opacity: 1;
		}
		.mainsocial-icons:hover a.a4{
			transform: translateX(0);
			transition: all ease-in-out 300ms;
			opacity: 1;
		}
		.mainsocial-icons:hover a.a5{
			transform: translateX(0);
			transition: all ease-in-out 200ms;
			opacity: 1;
		}
    }

    .section__cardproduct {
        display: inline-flex;
        gap: 1rem;
        padding-bottom: 1rem;

        .cardproduct__main {
            display: flex;
            flex-direction: column;

            .cardproduct__picture {
                display: flex;
                flex-direction: column;
                padding: 2rem .5rem .5rem .5rem;
            }

            .cardproduct__mainpicture {
                display: flex;
                justify-content: center;

                .cardproduct__img {
                    width: 20rem;
                    padding: 1.5rem;
                }

            }

            .cardproduct__minipicture {
                display: inline-flex;
                justify-content: center;
                align-items: center;

                .cardproduct__miniimg {
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    object-fit: contain;
                    
                    width: 6.5rem;
                    height: 6.9rem;
                    padding: 1rem;                

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 2px 6px $color-shadow;
                        border: .2rem solid $color-green;
                    }
                }
            }
        }

        .cardproduct__description {
            display: flex;
            flex-direction: column;
            padding: 2rem 0rem 2rem 1rem;
            gap: 1.5rem;

            .cardproduct__now {
                display: inline-flex;

                .cardproduct__btn {
                    border: .1rem solid $color-green-gradient2;
                    background-color: $color-green-gradient2;
                    padding: .5rem;
                    color: $color-white;
                    font-size: 14px;
                    font-family: Ubuntu-Bold;
                    align-items: center;
                    text-align: center;
                    align-content: center;
                }

                .cardproduct__reviews {
                    display: inline-flex;
                    justify-content: space-between;
                    padding-left: 0.5rem;
                    gap: .5rem;

                    .cardproduct__reviews-txt {
                        display: inline-flex;
                        gap: .5rem;
                        font-size: 14px;
                    }

                    .cardproduct__reviews-title {
                        display: flex;
                        align-items: center;
                        font-family: Ubuntu-Bold;

                    }

                    .cardproduct__reviews-circle {
                        border-radius: 100%;
                        border: .1rem;
                        border-color: $color-grey-button;
                        background: $color-grey-button;
                        color: $color-white;
                        padding: .7rem;
                        font-weight: bold;
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                    }
                }

                .cardproduct__icons {
                    display: flex;
                    gap: 0.5rem;
                    justify-content: center;
                    align-items: center;

                    .cardproduct__icons-title {
                        font-size: 14px;
                    }

                    .cardproduct__icon1 {
                        background-image: url('../img/icons/Vector.svg');
                        width: 15px;
                        height: 15px;

                        &:hover {
                            background-image: url('../img/icons/Vector\ copy.svg');
                            cursor: pointer;
                        }
                    }

                    .cardproduct__icon2 {
                        background-image: url('../img/icons/compare.svg');
                        width: 15px;
                        height: 15px;

                        &:hover {
                            background-image: url('../img/icons/compare\ copy.svg');
                            cursor: pointer;

                        }
                    }

                }
            }

            .cardproduct__cash {

                display: flex;
                flex-direction: column;
                gap: .7rem;
                padding-top: 2rem;
                

                .cardproduct__cash-title {
                    font-size: 22px;
                    font-family: Ubuntu-Bold;
                    padding-top: 1rem;
                }

                .cardproduct__cash-date {
                    display: inline-flex;
                    padding: 1rem 0rem 1rem 0rem;
                }


                .choice-selectors {
                    display: flex;
                    gap: 1rem;             

                    .choice-filter {
                        border-color: $color-white !important; 
                        box-shadow: 0px 2px 6px $color-shadow;
                        font-size: 14px;
                        padding: .5rem;
                        cursor: pointer;   
                        
                        .choice-text {
                            font-family: Ubuntu-Light !important;
                            cursor: pointer;   
                        }
                    }
                }

                .choice-text {
                    font-family: Ubuntu-Light;
                    cursor: pointer;  
                    font-size: 14px;
                    font-weight: bold; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }


                .line1 {
                    font-family: Ubuntu-Bold;
                }

                .line2 {
                    color: $color-grey-button;
                }

                .price-block {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    text-align: center;
                    width: 80px;
                    gap: 0.2rem;
                    padding: .4rem;
                    border: .1rem solid $color-grey-border;

                    &:hover {
                        cursor: pointer;
                        background: $color-grey-bg;
                        transition: .5s all;
                    }
                }

                .card__price {
                    display: inline-flex;
                    padding: 1rem 0rem 1rem 0rem;
                }
                
            }
        }
    }

    .section__specifications {
        padding-left: 0.5rem;

        input {
            display: none;
            gap: 0.5rem;
        }

        #specifications__content-1,
        #specifications__content-2,
        #specifications__content-3,
        #specifications__content-4 {
            display: none;
            border: .1rem solid $color-grey-border;
            padding: 1.5rem;
            font-size: 14px;
        }

        #specifications-btn-1:checked~#specifications__content-1,
        #specifications-btn-2:checked~#specifications__content-2,
        #specifications-btn-3:checked~#specifications__content-3,
        #specifications-btn-4:checked~#specifications__content-4 {
            display: block;
        }

        label {
            display: inline-block;

            font-family: Ubuntu-Light;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            background-color: #f5f5f5;
            border: .1rem solid $color-grey-border;
            padding: 2px 8px;
            line-height: 1.5;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
            cursor: pointer;
            position: relative;
            top: 1px;
        }

        input[type="radio"]:checked+label {
            background-color: #fff;
            border-bottom: .1rem solid $color-white;
            border-top: .1rem solid $color-green;
            font-weight: bold;

        }

        .specifications__content-2-1,
        .specifications__content-1-1 {
            text-align: justify;
        }

        .specifications-descr2 {
            display: flex;
            justify-content: space-between;
            border-bottom: .1rem solid $color-grey-border;
            padding: 0.5rem 0rem 0.5rem 0rem;
        }

        .specifications__ul {
            display: flex;
            flex-direction: column;
            
        }

        .specifications__ul-li {
            list-style-type: none;
            border-bottom: .1rem solid $color-grey-border;
            padding: 0.5rem .5rem .5rem 0rem;
        }
    }

    .section__reviews {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0.5rem;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        .section__title {
            font-size: 25px;
            font-family: Ubuntu-Bold;

        }

        .swiper-slide {
            display: flex;
            justify-content: center;
        }
        
        .one-review {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 30rem;
            width: 25rem;        
        }

        .one-review-img {
            padding: 1rem;
            width: 250px;
            height: 250px;
            max-width: 100%;
            background-repeat: no-repeat;
            text-align: center;
        }

        .one-review-name {
            font-family: Ubuntu-Bold;
            font-size: 20px;
        }

        .one-review-text {
            font-size: 14px;
            padding: .5rem 2rem .5rem 2rem;
            text-align: justify;
            display: flex;
            flex-direction: column;
        }
    }
}


@media (min-width: 930px) {
    
    label {
        font-size: 17.78px;
    }

    .cardproduct__description {
        width: 50%;
    }

    .cardproduct__main {
        width: 50%;
    }

    .cardproduct__cash-date {
        justify-content: space-between;
        
    }

    .cardproduct__now {
        justify-content: space-between;
    }

}

@media (max-width: 930px) {

    .section__cardproduct {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardproduct__main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100%;
    }


    .cardproduct__reviews {
        display: flex;
        justify-content: space-around;
    }

    label {
        font-size: 15.6px;
    }

    .cardproduct__description {
        width: 100%;
    }

    .choice__selectors {
        display: inline-flex;
    }

    .cardproduct__cash-date {
        justify-content: center;
        align-content: center;
        gap: 1rem;
        
    }

    .cardproduct__cash-title,
    .card__price,
    .cardproduct__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .cardproduct__now {
        justify-content: center;
        gap: 2rem;
    }
}


@media (max-width: 500px) {

    .cardproduct__picture {
        display: flex;
        flex-direction: column;
    }

    .cardproduct__icons-title {
        display: none;
    }

    
}


@media (max-width: 480px) {

    .cardproduct__main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 300px;
    }
}
    