.section__navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding: 1rem 1rem 0rem 1rem;

    .navigation-title-anima {
        display: inline-flex;
        gap: 2rem;
    }

    .maintitle {
        font-size: 30px;
        font-family: Ubuntu-Bold;
        text-transform: uppercase;
    }

    .navigation-animation img {

        position: relative;
        animation: element-animation 4s linear infinite;
    }

    @keyframes element-animation {
        0% {
            transform: rotateZ(0deg);
        }

        40% {
            transform: rotateZ(-10deg);
        }

        50% {
            transform: rotateZ(10deg);
        }

        60% {
            transform: rotateZ(-20deg);
        }
        
        70% {
            transform: rotateZ(-10deg);
        }

        80% {
            transform: rotateZ(10deg);
        }

        85% {
            transform: rotateZ(-20deg);
        }

        90% {
            transform: rotateZ(20deg);
        }

        95% {
            transform: rotateZ(-10deg);
        }

        100% {
            transform: rotateZ(0);
            
        }
    }


    .navigation-chips {
        display: inline-flex;
        list-style-type: none;
        gap: .5rem;
        font-size: 14px;
        color: $color-grey-button;

        .nav-chip {
            text-decoration: none;
            color: $color-black;

            &:hover {
                color: $color-green;
            }
        }

        .nav-chip-res {
            font-weight: bold;
        }

    }

    .navigation-description {
        display: inline-flex;
        gap: 2rem;
    }

    .navigation-description-des {
        color: $color-grey-button;
        font-size: 14px;
        text-align: justify;
    }
}

.section__result {
    display: flex;
    flex-direction: column;
    padding: 0rem .5rem 2rem .5rem;
    width: 100%;
    
    .result__common {
        display: flex;
        flex-direction: column;
        padding: 2rem 0rem 2rem 0rem;
        gap: 1rem;
        

        .common__text {
            font-size: 16px;
            font-family: Ubuntu-Bold;
        }

        .common__text2 {
            color: $color-green;
        }

        .common__choice {
            display: flex;
            justify-content: space-between;

            .choice-selector {
                display: flex;
                gap: .5rem;             

                .choice-filter {
                    border-color: $color-white !important; 
                    box-shadow: 0px 2px 6px $color-shadow;
                    font-size: 14px;
                    font-weight: bold;
                    padding: .5rem;
                    cursor: pointer;   
                    
                    .choice-text {
                        font-family: Ubuntu-Light !important;
                        cursor: pointer;   
                    }
                }
            }

            .choice-text {
                font-family: Ubuntu-Light;
                cursor: pointer;  
                font-size: 14px;
                font-weight: bold; 
                display: flex;
                justify-content: center;
                align-items: center;
            }


            .choice__page {
                align-items: center;
                justify-content: center;
                gap: .5rem;

                .number-plus {
                    display: inline-block;
                    transform: rotate(90deg);
                    text-decoration: none;
                    border-color: $color-white !important; 
                    box-shadow: 0px 0px 6px  $color-shadow;
                    left: 0;
                    width: 2rem;
                    height: 2rem;
                    text-align: center;
                    padding-top: 0.3rem;
                    
                }

                .number-minus {
                    display: inline-block;
                    transform: rotate(-90deg);
                    text-decoration: none;
                    border-color: $color-white !important; 
                    box-shadow: 0px 0px 6px $color-shadow;
                    width: 2rem;
                    height: 2rem;
                    right: 0;
                    text-align: center;
                    padding-top: 0.3rem;
                }

                .number-text {
                    border-color: $color-white; 
                    box-shadow: 0px 0px 6px $color-shadow;
                    border: .1rem;
                    width: 2rem;
                    height: 2rem;
                    text-align: center;
                }
            }
        }
    }

    .result__result {
        display: inline-flex;
        gap: 3rem;

        .result__filters {
            display: flex;
            flex-direction: column;
            padding-left: 1rem;
            padding-top: 1.5rem;
            gap: 1.5rem;
            max-width: 300px;

            border-top: .1rem solid $color-grey-border;

            .filters__choice {
                display: flex;
                flex-direction: column;

                .label {
                    display: inline-flex;
                    gap: 1.5rem;

                    &:hover {
                        cursor: pointer;
                    }

                    .label-title {
                        text-transform: uppercase;
                        font-family: Ubuntu-Bold;
                        font-size: 14px;
                        padding-bottom: 0.5rem;
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: .2rem;

                    input[type=checkbox] {
                        margin-right: 5px;
                        cursor: pointer;
                        font-size: 14px;
                        width: 15px;
                        height: 12px;
                        position: relative;
                        cursor: pointer;
                    }

                    input[type=checkbox]:after {
                        position: absolute;
                        width: 9px;
                        height: 12px;
                        top: 0;
                        content: " ";
                        background-color: $color-grey-bg;
                        color: #fff;
                        display: inline-block;
                        visibility: visible;
                        padding: 1px 3px;
                        border-radius: 3px;
                        cursor: pointer;
                        border: .05rem solid $color-grey-border;
                    }

                    input[type=checkbox]:checked:after {
                        content: "✓";
                        text-align: center;
                        font-size: 12px;
                        background-color: $color-green;
                        cursor: pointer;
                    }

                    input[type=radio] {
                        margin-right: 5px;
                        cursor: pointer;
                        font-size: 14px;
                        width: 15px;
                        height: 12px;
                        position: relative;
                    }

                    input[type=radio]:after {
                        position: absolute;
                        width: 10px;
                        height: 15px;
                        top: 0;
                        content: " ";
                        background-color: $color-grey-bg;
                        color: #fff;
                        display: inline-block;
                        visibility: visible;
                        padding: 0px 3px;
                        border-radius: 50%;
                        cursor: pointer;
                        border: .05rem solid $color-grey-border;
                    }

                    input[type=radio]:checked:after {
                        position: absolute;
                        width: 11px;
                        height: 16px;
                        top: 0;
                        content: "✓";
                        background-color: $color-green;
                        color: #fff;
                        display: inline-block;
                        visibility: visible;
                        padding: 0px 3px;
                        border-radius: 50%;
                        cursor: pointer;
                        z-index: 1;
                    }

                    input[type=radio]:checked:before {
                        content: " ";
                        display: block;
                        position: relative;
                        top: -2px;
                        left: 3px;
                        width: 6px;
                        height: 6px;
                        color: #fff;
                        font-weight: 400;
                        z-index: -1;
                        background-color: $color-grey-bg;
                        cursor: pointer;
                        
                    }
                }

                .content-inline {
                    display: inline-flex;
                }

                .input-zoom {
                    width: 6rem;
                    padding-left: 0.5rem;
                    background-color: $color-grey-bg;
                    border: .1rem solid $color-grey-border;
                }

                .input-empty {
                    padding: 0.5rem;
                }
            }
        }

        .result__all {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .result__all-line {
                display: inline-flex;
                gap: 1rem;

                .card {
                    display: flex;
                    flex-direction: column;
                    
                    border: .1rem solid $color-grey-border;
                    justify-content: space-evenly;
                
                }

                .card__image {
                    display: inline-flex; 
                    justify-content: end;
                    gap: 1rem; 
                    padding-left: 3ren;
                    background-repeat: no-repeat;
                            
                }

                .card__img {
                    padding-left: 3.5rem;
                    width: 250px;
                    height: 190px;
                    background-repeat: no-repeat;
                }
                
                .card__icon {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 1rem .8rem 1rem .8rem;

                }

                .cardproduct__icon1 {
                    background-image: url('../../frontend/img/icons/Vector.svg');
                    width: 15px;
                    height: 15px;

                    &:hover {
                        background-image: url('../../frontend/img/icons/Vector\ copy.svg');
                        cursor: pointer;
                    }
                }

                .cardproduct__icon2 {
                    background-image: url('../../frontend/img/icons/compare.svg');
                    width: 15px;
                    height: 15px;

                    &:hover {
                        background-image: url('../../frontend/img/icons/compare\ copy.svg');
                        cursor: pointer;

                    }
                }

                .card__text {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    text-align: center;
                    gap: 0.5rem;
                    padding: .8rem;
                }

                .card-text1,
                .line1 {
                    font-family: Ubuntu-Bold;
                }

                .card-text2,
                .line2 {
                    color: $color-grey-button;
                }

                .price-block {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    text-align: center;
                    width: 80px;
                    gap: 0.2rem;
                    padding: .4rem;
                    border: .1rem solid $color-grey-border;

                    &:hover {
                        cursor: pointer;
                        background: $color-grey-bg;
                        transition: .5s all;
                    }
                }

                .card__price {
                    display: inline-flex;
                }

                .card__more {
                    margin: 1rem;
                    gap: 2rem;
                    display: flex;
                    justify-content: space-evenly;

                    .card-text {
                        text-decoration: none;
                        color: $color-black;

                        &:hover {
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 930px) {

    .choice__page {
        display: flex;
    }
}

@media (max-width: 930px) {

    .navigation-description {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .result__all-line {
        display: flex;
        flex-direction: column;
    }

    .choice-selector {
        display: flex;
        flex-direction: column;
    }

    .result__result {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choice__page {
        display: flex;
    }
}

@media (max-width: 780px) {
    .choice-selector {
        display: flex;
        flex-direction: column;
    }

    .result__result {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 320px;
    }

    .choice__page {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 580px) {

    .result__result {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 320px;
    }

    .content-inline {
        display: flex;
        flex-direction: column;
    }

    .common__choice {
        display: flex;
        flex-direction: column;
    }

    .choice__page {
        display: flex;
        flex-direction: row;
    }

    .common__choice {
        display: flex;
        gap: .5rem;
    }
}

