$color-black: #000000;
$color-green: #60B021;
$color-green-gradient1: #8EE901;
$color-green-gradient2: #4F9C2C;
$color-grey-border: #EFEFEF;
$color-white: #ffff;
$color-shadow: rgba(0, 0, 0, 0.15);
$color-grey-button: #75758A;
$color-grey-bg: #F5F5F5;
$color-white-grey: #E3E3E3;
$color-gradients: (270deg, $color-green-gradient1 0%, $color-green-gradient2 99.06%);
